* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(45deg, #663399, #ff0000);
    font-family: Helvetica, sans-serif;

}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 250px;
    height: 500px;
    perspective: 500px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front{
    background-color: #c6c6c6;
}

.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg);
}

.container:hover > .card{
    transform: rotateY(180deg);
}